.Map {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/world-map.jpg");
  background-size: cover;
}

.Map img {
  max-width: 100%;
}

.Dot {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 2;
  background: red;

  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: growUp 2s infinite;
  -moz-animation: growUp 2s infinite;
  -ms-animation: growUp 2s infinite;
  -o-animation: growUp 2s infinite;
  animation: growUp 2s infinite;
}

.circle {
  display: block;
  /* height: 168px;
  width: 168px;
  background-color: #fea733; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: growUp 2s 1.5s; /* You can remove 1.5s if you don't want delay */
  -moz-animation: growUp 2s 1.5s;
  -ms-animation: growUp 2s 1.5s;
  -o-animation: growUp 2s 1.5s;
  animation: growUp 2s 1.5s;
}

@-webkit-keyframes growUp {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes growUp {
  0% {
    -moz-transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes growUp {
  0% {
    -o-transform: scale(0);
  }
  100% {
    -o-transform: scale(1);
  }
}

@-ms-keyframes growUp {
  0% {
    -ms-transform: scale(0);
  }
  100% {
    -ms-transform: scale(1);
  }
}

@keyframes growUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
